// Place all the styles related to the Knots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.knot {
	background-color: #000; 
	color: #bbb;
	min-height: 500px;

	h1, h2, h3, h4, h5 {
		color: red;
		margin-top: 0px;
	}

	.ring { color:red;  }

	.datetime {
		margin-top: 20px;
		color: #777;
		font-size: 0.9em;
		font-weight: none;
	}
	
	.up {
		a:link, a:visited {
			color:#999;
		}
	}

	blockquote {
		font-size: 1em;
	}
}

